.recommended-friends__header {
  color: var(--font-gray);
  padding-top: 15px;
  display: block;
}

.recommended-friends__list {
  color: var(--font-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-bottom: var(--border);
}

.open-chat__header {
  padding-top: 10px;
  color: var(--font-gray);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
}

.open-chat__header > span {
  font-weight: 500;
}

.open-chat__list {
  display: flex;
  flex-direction: column;
}
