.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
}

.badge--sm {
  width: 15px;
  height: 15px;
  font-size: 10px;
}

.badge--dot {
  width: 5px;
  height: 5px;
  position: absolute;
  right: -7px;
  top: -5px;
}

.badge-parent {
  position: relative;
}

.badge--notification {
  position: absolute;
  left: 13px;
  bottom: 10px;
}
