.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(117, 117, 117, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
}
