.screen-header {
  position: fixed;
  top: 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
}

.screen-header__title {
  font-size: 22px;
  font-weight: 650;
  color: #2e363e;
}

.screen-header__icons span {
  margin-left: 20px;
}
