.user-component {
  justify-content: space-between;
  margin: 10px 0px;
  padding: 0px 15px;
  /* padding: 10px 15px;*/
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avartar {
  width: 60px;
  height: 60px;
  border-radius: 35%;
  margin-right: 10px;
}

.user-component__avartar--lg {
  width: 65px;
  height: 65px;
}

.user-component__avartar--sm {
  width: 50px;
  height: 50px;
}

.user-component__avartar--xs {
  width: 33px;
  height: 33px;
}

.user-component__text {
  display: flex;
  flex-direction: column;
}

.user-component__title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 7px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__subtitle {
  color: var(--font-gray);
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
  color: var(--font-gray);
}

.user-component__icon--red {
  color: rgba(255, 0, 0, 0.8);
}

.user-component__icon--clear {
  color: rgba(0, 0, 0, 0.8);
}
